<div class="border rounded-md overflow-hidden shadow-sm relative md:static md:flex md:gap-4 md:p-4">
    <div class="aspect-[9/16] md:w-1/2">
        <img class="w-full h-full object-contain" src="<%= result.details.cover %>" alt="@<%= result.owner_username%> video cover">
    </div>
    <div class="w-full p-4 bg-slate-800/60 text-white backdrop-blur-sm absolute bottom-0 left-0 md:static md:w-1/2 md:bg-transparent md:text-black md:p-0">
        <div>
            <h1 class="font-semibold text-lg text-primary">By @<%= result.owner_username %></h1>
            <p class="truncate"><%= result.details.desc %></p>
        </div>
        <div class="flex gap-4 mb-4">
            <span class="flex items-center gap-1">
                <i class="bx bx-play text-xl"></i>
                <%= result.details.total_views %>
            </span>
            <span class="flex items-center gap-1">
                <i class="bx bxs-heart text-xl"></i>
                <%= result.details.total_likes %>
            </span>
            <span class="flex items-center gap-1">
                <i class="bx bxs-comment text-xl"></i>
                <%= result.details.total_comment %>
            </span>
        </div>
        <div class="flex flex-col gap-2">
            <button data-filename="<%= result.details.video_id %>.mp4" data-src="<%= result.details.video_url %>" class="btn text-white bg-primary group">
                Download video <i class="bx bxs-movie-play"></i><span class="group-disabled:loader"></span>
            </button>
            
            <button data-filename="<%= result.details.video_id %>.mp3" data-src="<%= result.details.audio_url %>"class="btn text-white bg-slate-500 group">
                Download audio <i class="bx bxs-music"></i><span class="group-disabled:loader"></span>
            </button>

            <button data-filename="<%= result.details.video_id %>.jpg" data-src="<%= result.details.cover %>"class="btn text-white border-2 md:border-slate-400 md:text-slate-400 group">
                Download cover <i class="bx bxs-image"></i><span class="group-disabled:loader"></span>
            </button>
        </div>
    </div>
</div>